<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/js/echarts.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>
</head>
<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 600px;height:400px;"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));



        var date = [];
        var data = [];
        var now = 0;

        function addData(shift) {
            $.ajax({
            url:'/monitor/data',
            type:'get',
            dataType:'json',
            success:function(json_data){
                sys_data = JSON.parse(json_data)
                }
            })
            now += 1 ;
            date.push(now);
            data.push(sys_data);

            if (shift) {
                date.shift();
                data.shift();
            }
        }
        for (var i = 1; i < 100; i++) {
            addData();
        }
        option = {
            title: {
                text: 'CPU'
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: date,
                show: false
            },
            yAxis: [
                {
                    boundaryGap: [0, 1000],
                    type: 'value',
                    min: 0,
                    max: 100
                },
                {
                    boundaryGap: [0, '50%'],
                    type: 'value',
                    name: '100%'
                },
            ],
            series: [
                {
                    name: '成交',
                    type: 'line',
                    smooth: true,
                    symbol: 'none',
                    stack: 'a',
                    areaStyle: {
                        normal: {}
                    },
                    data: data,
                    itemStyle : {
                        normal : {
                            color:'deepskyblue',  //圈圈的颜色
                            lineStyle:{
                                color:'deepskyblue'  //线的颜色
                            }
                        }
                    },
                }
            ]
        };

        s = setInterval(function () {
            addData(true);
            myChart.setOption({
                xAxis: {
                    data: date
                },
                series: [{
                    name:'成交',
                    data: data
                }]
            });
        }, 500);
        if (option && typeof option === "object") {
            myChart.setOption(option, true);
        }


        function stop() {
            clearInterval(s)
        }




    </script>
    <button onclick="stop()" style="color:deepskyblue">停</button>
</body>
</html>